:root
{
  --color-1: #ff0000;
  --color-2: #c1aabbcc;
  --color-3: #08f100;
  --color-4: #8114da;
}

#root
{
  width:100%;
  min-height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.page-container
{
  display:flex;
  flex-direction: column;
}

.button
{
  border: solid 3px var(--color-1);
  background-color: var(--color-1);
  min-width:100px;
  padding: 10px 10px;
}

.button-main {
  color: black;
}

.button-secondary {
  color: white;
  background-color: var(--color-4);
  border-color: var(--color-1);
}

.dice-container
{
  cursor: pointer;
  display:flex;
  justify-content:center;
  align-items: center;
  width:200px;
  background-color: var(--color-1);
  color:black;
  aspect-ratio: 1 / 1;
}

.dice
{
  font-size:2rem;
  background-color: var(--color-1);
  color:black;
  aspect-ratio: 1 / 1;
}

